{% extends 'layout.html' %}
{% load static %}
{% block title %} - Gallery{% endblock %}

{% block csslightgallery %}
  <!-- lightgallery -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lg-thumbnail.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lg-autoplay.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lg-fullscreen.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lg-share.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lg-zoom.min.css">
{% endblock %}

{% block content %}

<main>
  <!-- Contenedor de titulo fondo azul -->
  <div class="section_container section_container-blue padding-top">
    <div class="container">
      <section class="section_titles">
        <h2>
          {{thisService.title}}
          <span>{{thisService.subtitle}}</span>         
        </h2>
      </section>
    </div>
  </div>
  
  <!-- Formulario upload -->
  {% if user.is_authenticated and user.is_superuser %}
  <div class="container">
    <form
      action="{% url 'uploadMultiImgs' %}"
      method="POST"
      enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="images" accept="image/*" multiple />
      <button type="submit" >
        Guardar en Galeria
      </button>
    </form>
  </div>
  {% endif %}

  <!-- Galería -->
  <div class="gallery" id="gallery">
    {% for img_original_url, img_transformed_url, img_dimensions in img_urls %}
    
      <a data-lg-size="{{ img_dimensions.0 }}-{{ img_dimensions.1 }}" href="{{ img_original_url }}">
        <img src="{{ img_transformed_url }}" alt="Imagen" loading="lazy">
      </a>
    
    {% endfor %}
  </div>
  
</main>

{% endblock %}

  
{% block scriptlightgallery %}
  <!-- lightgallery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.min.js"></script>
  <!-- plugins -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/thumbnail/lg-thumbnail.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/autoplay/lg-autoplay.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/fullscreen/lg-fullscreen.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/share/lg-share.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/zoom/lg-zoom.min.js"></script>
  <!-- script lightgallery -->
  <script type="text/javascript">
    lightGallery(document.querySelector('.gallery'), {
      controls: true,
      download: false,
      plugins: [lgThumbnail, lgAutoplay, lgFullscreen, lgShare, lgZoom],      
      thumbWidth: 100,
    });
  </script>
{% endblock %}