/** HOME - banner */

.banner_img-about {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%), url(/static/img/bg-about.jpg); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%), url(/static/img/bg-about.jpg); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(90deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%), url(/static/img/bg-about.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.banner_img-contact {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%), url(/static/img/bg-contact.jpg); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%), url(/static/img/bg-contact.jpg); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(90deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%), url(/static/img/bg-contact.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.banner {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner_100 {
  height: 100vh;
  min-height: 60.1rem;
  background-attachment: fixed;
}
.banner_40 {
  height: 40vh;
  justify-content: flex-end;
  @include phone {
    justify-content: center;
  }  
  @include size615 {
    .banner_title {
      padding-top: 7rem;
    }
  }  
  @include size850 {
    justify-content: center;
    .banner_title {
      padding-top: 0;
    }
  }
}
// .banner_text {
// }
.banner_title{
  font-size: calc(2.8rem + 1vw);
    @include size615 {
    font-size: calc(3rem + 1vw);
  }
}
.banner_subtitle {
  color: #fffd00 !important;
  font-size: calc(1.5rem + 1vmin) !important;
  text-shadow: 1px 1px 5px #000;
  text-wrap: balance;
}