/** HOME - banner */

.banner_img-about {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%), url(/static/img/bg-about.jpg); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%), url(/static/img/bg-about.jpg); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(90deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%), url(/static/img/bg-about.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.banner_img-contact {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%), url(/static/img/bg-contact.jpg); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%), url(/static/img/bg-contact.jpg); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(90deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%), url(/static/img/bg-contact.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.banner {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_100 {
  height: 100dvh;
  min-height: 60.1rem;
  background-attachment: fixed;
}

.banner_40 {
  min-height: 26rem;
  height: 40dvmin;
  justify-content: flex-end;
  @include phone {
    justify-content: center;
  } 
  @include size850 {
    justify-content: center;
  }
}

.banner_title{
  padding-top: 5rem;
  font-size: calc(2.8rem + 1vw);
    @include size615 {
      padding-top: 7rem;
      font-size: calc(3rem + 1vw);
    }
    @include size850 {
      padding-top: 5rem;
    }
}

.banner_subtitle {
  color: #fffd00 !important;
  font-size: calc(1rem + 1dvmin) !important;
  text-shadow: 1px 1px 5px #000;
  text-wrap: balance;

  @include size930 {
    font-size: 2.2rem !important;
  }
}