/* Navegación  */

.nav {
  position: fixed;
  width: 100%;
  padding: 0 5%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  @include size615 {
    display: block;
  }
  @include size850 {
      display: flex;
  }
  @include size930 {
    height: 7rem;
    padding: 0 8%;
  }
}

// Efecto Scroll
.animation_blur {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 1000px;
}

.nav_menu {
  display: flex;
  max-height: calc(100vh - 6.5rem);
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.830);
  flex-direction: column;
  position: fixed;
  top: 6.6rem;
  right: -30rem;
  transition: .5s;
  @include size615 {
    overflow-y: revert;
    border-radius: 3rem;
    width: auto;
    position: initial;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
      background-color: rgba(13, 58, 95, 0.38);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

  .nav_link {
    &:hover {
      background-color: rgba(37, 37, 37, 0.64);
    }
  }

  .nav_link {        // ul li
    position: relative;   
    &:first-child {
      @include size615 {
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
        padding-left: 1.5rem;
      }
    }
    &:last-child {
      @include size615 {
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
        padding-right: 1.5rem
      }
    }

    // AL pasar el mouse por arriba del menú Servicio y Lenguaje se despliegan
    @include size615 {
      &:hover {
        // background-color: rgba(37, 37, 37, 0.64);
        .nav_ul {
          max-height: 1000%;
          display: block
        }
      }
    }

    a {
      color: #fff;
      width: 100%;
      padding: 1.5rem 1.5vmax;
      display: block;
      transition: .3s;
      &:hover {
        color: $yellow;
      }
    }
  }
}

.nav_menu-visible {
  right: 0;
  .nav_link {
    .nav_ul {
      a {
        padding: 1.2rem 1.5vmax;
      }
    }
  }
  .nav_link-a {
    background-color: rgba(41, 41, 41, 0.9);
    @include size615 {
      background-color: transparent;
    }
    &:hover {
      @include size615 {
        transform: scale(1.05);
      }
      background-color: rgba(0, 0, 0, 0.75);
    }
  }
}

.nav_ul {
  max-height: 0;
  position: relative;
  overflow: hidden;
  transition: .5s;
  @include size615 {
    position: absolute;
  }
  a {
    white-space: nowrap;
    background-color: rgba(27, 27, 27, 0.95);

    &:hover {
      color: $yellow;
      background-color: rgba(20, 20, 20);
      -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
    }
  }
}

#services:target .nav_services {
  max-height: 48.5rem;
}
#languages:target .languages {
  max-height: 15rem;
}

.languages {
  width: 100%;
  min-width: 12.5rem;
  text-align: center;
}

.nav_toggle {
  width: 4rem;
  height: 4rem;

  @include size615 {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
  svg {
    width: 100%;
    height: 100%;
    stroke: $white1;
    transition: .3s;
    &:hover {
      stroke: $yellow;
      transform: scale(1.1);
    }
  }
}

.nav_link a.active {
  color: $yellow;
}