/** Navegación  */

.nav {
  position: fixed;
  width: 100%;
  padding: 0 5%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  @include size615 {
      display: block;
  }
  @include size850 {
      display: flex;
  }
  @include size930 {
      padding: 0 8%;
  }
}

.animation_blur {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 1000px;
}

.nav_menu {   // ul
  width: 29rem;
  display: flex;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.660);
  flex-direction: column;
  position: fixed;
  top: 7.23rem;
  right: -30rem;
  transition: .5s;
  @include size615 {
    width: auto;
    position: initial;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
      background-color: rgba(13, 58, 95, 0.38);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }
  }
  
  .nav_link {        // ul li
    position: relative;   

    &:first-child {
      border-top-left-radius: 3rem;
      border-bottom-left-radius: 3rem;
    }
    &:last-child {
      border-top-right-radius: 3rem;
      border-bottom-right-radius: 3rem;
    }
    &:hover {
      background-color: rgba(13, 58, 95, 0.6);
      .nav_ul {
        max-height: 1000%;
        display: block;
      }
    }

    a {
      color: #fff;
      width: 100%;
      padding: 1.5rem 1.5vmax;
      display: block;
      transition: .3s;
    }
  }
}

.nav_menu-visible {
  right: 0;
  .nav_link {        // ul li
    .nav_ul {
      a {
        padding: 1.2rem 1.5vmax;
      }
    }
  }
  .nav_link-a {
    background-color: rgba(41, 41, 41, 0.9);
    @include size615 {
      background-color: transparent;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
    }
  }
}

.nav_link-a {
  &:hover {
    transform: scale(1.05);
  }
}

.nav_ul {
  max-height: 0;
  padding: 0 0.5rem;
  overflow: hidden;
  position: relative;
  left: 0;
  transition: .5s;
  @include size615 {
    position: absolute;
  }
  a {
    white-space: nowrap;
    background-color: rgba(27, 27, 27, 0.9);

    &:hover {
      color: $yellow;
      background-color: rgba(0, 0, 0, 0.75);
      transform: scale(1.02) translateX(-2px);
      -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
    }
  }
}

.languages {
  width: 100%;
}

.nav_toggle {
  width: 4rem;
  height: 4rem;

  @include size615 {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
  svg {
    width: 100%;
    height: 100%;
    stroke: $white1;
    transition: .3s;
    &:hover {
      stroke: $yellow;
      transform: scale(1.1);
    }
  }
}

.nav_link a.active {
  color: $yellow;
}