.services_main_container {
  @include size850 {
    padding: 3rem 0;
  }
}
.block_container {
  max-width: $phone;
  margin: 0 auto;
  padding-bottom: 5rem;
  @include size850 {
    padding: 5rem 0;
    max-width: 68rem;
  }
  
  @include desktop {
    max-width: $desktop;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
.service_texts {
  p {
    margin: 2rem 0;
  }
}
.service_picture {
  height: 25rem;
  
  @include size850 {
    height: 44rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@include desktop {
  .block_section {
    &:nth-child(even) {
      .block_container {
        .service_texts {
          grid-column: 2 / 3;
        }
        .service_picture {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }
      }
    }
  }  
}
