.footer_widget {
  background-color: $black3;
}
.footer_container {
  padding: 2rem 0;
  @include gridArea(1, 4, 0) {
    grid-template-areas:  "footer_info"
                          "footer_provider"
                          "footer_navegation"
                          "footer_contact";
  }

  @include size615 {
    @include gridArea(2, 2, 0) {
      grid-template-areas:  "footer_info        footer_provider"
                            "footer_navegation  footer_contact";
    }
    .footer_section {
      border: none;
    }
  }
  @include size930 {
    @include gridArea(3, 2, 0) {
    grid-template-areas:  "footer_info      footer_info       footer_info"
                          "footer_provider  footer_navegation footer_contact";
    }
  }
  @include desktop {
    @include gridArea(4, 1, 2rem) {
      grid-template-areas:  "footer_info footer_provider footer_navegation footer_contact";
      }
  }
}
.footer_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $white1;
  width: 100%;
  max-width: 21.2rem;
  min-height: 36rem;
  margin: 0 auto;
  padding: 5rem 0;
  border-bottom: 1px solid white;
  &:last-child {
    border: none;
  }

  h3 {
    font-size: 3rem;
    font-weight: $light;
  }
  a {
    color: $white1;
  }
}
.footer_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: calc(100% - 6.5rem);
}

// Colum 1
.footer_info {
  grid-area: footer_info;
}
.footer_first_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 7.23rem);
}
.footer_text {
  margin: 1rem 0 2rem 0;
  p {
    font-size: 1.4rem;
  }
}
.footer_credit_card {
  display: flex;
}

// Colum 2
.footer_provider {
  grid-area: footer_provider;
  div {
    svg {
      width: 80%;
      &:nth-child(1) {
        fill: $white1;
      }
      &:nth-child(2) {
        fill: $white2;
      }
    }
  }
}

// Colum 3
.footer_navegation {
  grid-area: footer_navegation;

  a {
    &:hover {
      color: $yellow;
    }
  }
}

// Colum 4
.btn_footer {
  &:hover {
    color: $yellow;
    background-color: $blackSolid;
  }
}
.phone, .email {
  display: flex;
  gap: .5rem;
  svg {
    stroke: none;
    fill: $white1;
  }
  a {
    display: inline;
    &:hover {
      color: $yellow;
    }
  }
}
.phone {
  a {
    font-weight: $bold;
  }
}
.footer_socials {
  display: flex;
  gap: 3rem;
  a {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    &:nth-child(1) {
      background-color: #4267B2;      
    }
    &:nth-child(2) {
      background: #C13584;      
    }
    &:nth-child(3) {
      background-color: #1DA1F2;      
    }
    &:hover {
      background: transparent;
      transform: scale(1.5);
      .icon-facebook {
        fill: #4267B2;
      }
      .icon-instagram {
        stroke: #E1306C;
      }
      .icon-twitter {
        fill: #1DA1F2;
      }
      }
    }

  svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  .icon-facebook {
    stroke: none;
    fill: $white1;
  }
  .icon-instagram {
    stroke: $white1;
  }
  .icon-twitter {
    stroke: none;
    fill: $white1;
  }
}
.footer_copyright {
  text-align: center;
  color: $white1;
  background-color: $blackSolid;
  p {
    padding: 2.5rem;
  }
}