.gallery {
  margin: 2rem;
  columns: 5 328px;
  column-gap: 0.5rem;

  img {
    max-width: 100%;
    margin-bottom: 0.5rem;
    outline: 2px solid #fff;
    transition: all 0.3s ease-in-out;
    
    &:hover {
      outline-offset: -10px;
      transform: scale(1.02);
    }
  }
}