// Font type
$fontTitles: 'Barlow', sans-serif;
$fontParagraf: 'Open Sans', sans-serif;
$fontPoppins: 'Poppins', sans-serif;

// Colors
$white1: #eeeeee;
$white2: #d6d5d5;
$grey1: #b3b3b3;
$grey2: #929292;
$dark1: #6d6d6d;
$dark2: #4d4d4d;
$black1: #3b3b3b;
$black2: #313131;
$black3: #292929;
$black4: #222222;
$blackSolid: #181818;
$pool1: #18A5BF;
$pool2: #026D8D;
$pool3: #015677;
$pool4: #04395F;
$pool5: #02253f;
$poolGreen1: #039794;
$poolGreen2: #037A75;
$yellow: #ffd000;
$gold: #704d0c;
$blue: #c8e4ff;
$blueligth: #9affff;
$red: #ce2222;

// Media Queries
$phone: 480px;
$size615: 615px;
$tablet: 768px;
$size850: 850px;
$size930: 930px;
$desktop: 1200px;

//Font Style
$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

/* 
                z-index:
16:   nav:          16
68:   btn_top       68
123:  nav Samll:    2
48:   home sevices  1
62:   home sevices  1

*/